body {
    /*font-family: 'Inconsolata', Monaco, "Lucida Console", Consolas, "Courier New";*/
    font-family: 'Arial'
}

#title {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 24px;
}
#sub-title {
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
}
.sentence{
    float: left;
}
#year {
    width: 140px;
    float: left;
    padding: 0px 0px 3px 5px;
}
#year #year_value{
    text-align: center;
}

#content{
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}
#choose{
  display: flex;
  align-items: center;
  justify-content: center;
  height:120px;
  width: 100%;
}
#percent_slider{
    float:left;
    width: 50px;
    height: 100%;
}
div .option{
    margin-bottom: 10px;
}
#Addstocks {
    display: flex;
}
.stockAdded {
    margin-right: 10px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
}

.ui-tooltip {
  background: #4a4a4a;
  color: #96f226;
  border: 2px solid #454545;
  border-radius: 0px;
  box-shadow: 0 0 
}
.ui-autocomplete {
  background: #E0E0E0;
  border-radius: 2px;
  list-style: none;
  list-style-type: none;
  padding: 5px;
  margin: 5px;
}

.ui-autocomplete.source:hover {
  background: #E0E0E0;
} 

.ui-menu .ui-menu-item a{
  background:#E0E0E0;
  height:18px;
  font-size:15px;
}

.ui-menu {
  max-width: 100px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  /*padding: 10px;*/
  font-size: 15px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
  font-size: 15px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
  font-size: 15px;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
  font-size: 15px;
}





