body {
    /*font-family: 'Inconsolata', Monaco, "Lucida Console", Consolas, "Courier New";*/
    font-family: 'Arial'
}

#title {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 24px;
}
#sub-title {
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
}
.sentence{
    float: left;
}
#year {
    width: 150px;
    float: left;
    padding: 0px 0px 3px 5px;
}
#year #year_value{
    text-align: center;
}

#content{
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}
#choose{
  display: flex;
  align-items: center;
  justify-content: center;
  height:140px;
  width: 100%;
}
#percent_slider{
    float:left;
    width: 80px;
    height: 100%;
    justify-content: center;
}
div .option{
    margin-bottom: 10px;
}
#Addstocks {
    display: flex;
}
.stockAdded {
    margin-right: 10px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
}
.xcross{
    color: red;
    margin-left: 5px;
}

.ui-menu {
  max-width: 130px;
  font-size: 15px;
}
.ui-autocomplete {
  background: #D3D3D3; 
  border-radius: 2px;
  list-style: none;
  list-style-type: none;
  padding: 5px;
  margin: 5px;
}
.ui-menu .ui-menu-item:hover {
  background: #A9A9A9;
} 

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  font-size: 15px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

#slider-range{
    margin-left: 30px;
    /*margin-top: 4px;*/
    height: 120px;
}
.ui-slider {
    background: #ca4471;
}
.ui-slider-range {
    background: #00CC66;
}
#YourDiv {
    background: #5574f0;
    border-radius: 0 4px 4px 0;
}
.ui-corner-all {
    border-radius: 0px;
}
.ui-slider .ui-slider-handle {
    height: 0.5em;
    border: 1px solid black;
    background: black;
}
.ui-widget.ui-widget-content {
    border: 0px;
}

#inflation_compare{
    text-align: center;
    font-size: 22px;
}
#inflation_result {
    text-align: center;
}
#optimal_text {
    text-align: center;
}
#optimal{
    margin-left: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}
#bar-left, #bar-right{
    width: 600px;
    height: 230px;
}
